.main.web {
	padding: 120px 0 60px 0;
	img {
		height: 5rem;
	}
	td {
		padding: 0;
	}
	.button {
		height: 30px;
		line-height: 30px;
	}
	.item.meta {
		h3 {
			margin: 0;
			font-size: 1.8rem; 
		}
		h4 {
			margin: 0;
			font-size: 1.5rem; 
		}
	}
}